{
  "parser": "@typescript-eslint/parser",
  "plugins": ["solid"],
  "extends": ["eslint:recommended", "plugin:solid/recommended"],
  "rules": {
    "no-unused-vars":"off",
    "no-undef":"off"
  }
}
